{{ define "main" }}

{{ partial "components/page-title.html" . }}

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-bs-toggle="buttons">

          {{ range .RegularPages }}
          {{ end }}

        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range .RegularPages }}
      <div class="col-lg-4 col-6 mb-4 shuffle-item"
        data-groups="[{{range $index, $element:= .Params.categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
        <div class="position-relative rounded hover-wrapper">
          {{ partial "image.html" (dict "Src" .Params.image "Alt" "portfolio-image"  "Class" `rounded w-100 d-block`) }}
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ .Permalink }}">view project</a>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /portfolio -->

<section class="section bg-light">
</section>

{{ end }}
